$bp-xsmall: 0px;
$bp-small: 600px;
$bp-med: 800px;
$bp-large: 1024px;
$bp-xlarge: 1280px;
$dark_background: rgb(61, 60, 60);
$normal_background: rgb(245, 240, 240);
$dark_2background: rgb(97, 95, 95);
$dark_3background: rgb(116, 113, 113);
$normal_2background: rgb(207, 203, 203);
$normal_3background: rgb(175, 171, 171);
$dark_button: orange;
$normal_button: rgb(122, 122, 224);
$dark_text: white;
$normal_text: black;